$panel-list-item-height: 146px;
$panel-list-thumbnail-size: $panel-list-item-height - 61px;

.panel-list-list {
  margin-top: 0;
}

.panel-list-item, .panel-list-list > .sortable-placeholder {
  color: #fff;
  background-color: #191A1B;
  border-bottom: 1px solid #414445;
  min-height: $panel-list-item-height;
  font-size: .8em;
  position: relative;
  z-index: 500;
  overflow: hidden;

  &:first-child {
    margin-top: 0;
    border-top: 1px solid #414445;
  }

  h4 {
    font-size: 1.1em;
    font-weight: normal;
    margin: 0 .2em;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    width: 100%;
  }

  &.master-overlay-forward:hover {
    border-left-color: #525252;
    background-color: #393939;
  }

  .active-indicator {
    border-left: 5px solid rgba(20, 21, 22, .4);
    z-index: 1000;
    padding: 8px 0 6px 0;
    margin-left: -6px;
  }

  &:hover {
    .active-indicator {
      border-color: #30AB62;
    }
  }
}

.panel-list-item > p {
  margin-left: $panel-list-thumbnail-size;
}

// Drag handles instead of borders
.panel-list-item[draggable=true] {
  border-left: 0;
}

.panel-list-drag-handle {
  float: left;
  border: 2px solid #424242;
  border-top: 0;
  border-bottom: 0;
  cursor: move;
  height: $panel-list-item-height + 12px;
  width: 8px;
  margin: -6px 12px -6px -8px;
}

.panel-list-list > .sortable-placeholder {
  border: 3px dashed #424242;
}

.empty-button {
  visibility: hidden;
}

.panel-list-focused {
  border-left-color: #525252;
  background-color: #393939;
  cursor: pointer;
}

.panel-list-thumbnail-container {
  display: block;
  float: left;
  position:relative;
  margin-right: .5em;
}

.panel-list-thumbnail {
  height: $panel-list-thumbnail-size;
  width: $panel-list-thumbnail-size;
  border: 5px solid #323232;
}

.panel-list-thumbnail-placeholder {
  color: #999;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 4px 4px 4px;
  @include linear-gradient(#1c1c1c, #181818);
  border: 5px solid #111;
  line-height: 1.2em;

  i {
    font-size: 1.8em;
    margin-bottom: 5px;
    opacity: .3;
  }
}

.panel-list-badges {
  position: absolute;
  top: 0;
  left: 0;
  .tooltip {
    width: $facet-overlay-width;
  }

  .tooltip.right .tooltip-arrow {
    border-right-color: #263c50;
  }

  .tooltip-inner {
    max-width: $facet-overlay-width;
    background-color: #263c50;
  }

}

.badge {
  display: block;
  float: right;
  border-radius: 2px;
  margin: 2px 0 0 2px;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
}

.facets-list-hide .badge {
  display: none;
}

.facets .badge {
  margin: 0 .5em 0 0;
}

.badge-gibs {
  @include retina-image(gibs, 22px 22px, png, null, '@2x', true);
}

.badge-opendap {
  @include retina-image(opendap, 22px 22px, png, null, '@2x', true);
}

.badge-nrt {
  border-radius: 2px;
  background-color: #2ECC71;
  color: #fff;
  text-shadow: .5px .5px .5px darken(#2ECC71, 20%);
  font-size: 9px;
  font-weight: bold;
  text-align: center;
  line-height: 22px;
  &:before {
    content: "NRT";
  }
  // @include retina-image(nrt, 22px 22px, png, null, '@2x', true);
}

.badge-collection {
  @include background(image-url("collection-icon.png"));
  height: 16px;
  width: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  position: absolute;
  margin-left: 6px;
}

.badge-granule {
  @include background(image-url("granule-icon.png"));
  height: 16px;
  width: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 50px;
  margin-top: 2px;
}

.flyout-granule-count-container {
  float: right;
//  right: 40px;
}

.granule-count {
  float: left;
  position: absolute;
  margin-left: 20px;
  margin-top: 1px;
  font-size: 12px;
}

.collapsed-title {
  text-overflow: ellipsis;
  width: 215px;
  white-space: nowrap;
  overflow: hidden;
  float: left;
  top: 6px;
  left: 33px;
  position: absolute;
  font-size: 12px;
}

.flyout-title {
  font-size: 14px;
  text-overflow: ellipsis;
  width: 195px;
  white-space: nowrap;
  overflow: hidden;
  float: left;
}

.panel-header-toggle {
  color: #888;
  line-height: 1.5em;
}

.panel-list-muted {
  font-size: .9em;
  padding: 0;
  color: #7f8c8d;
}

.panel-list-details {
  font-size: .8em;
  background: #111;
  border-radius: 5px;
  padding: 4px 8px;
  display: inline;
  color: #fff;
  text-shadow: 1px 1px 1px #222;
}

.panel-list-comparison-details {
  font-size: .9em;
  padding: 4px 8px;
}

.panel-list-granule-description {
  border-left: 1px solid #888;
  padding-left: 4px;
  margin-left: 4px;
}

.panel-list-item-actions-container {
  width: 29px;
  height: 116px;
  background-color: #191a1b;
  right: 0;
  top: 0;
  position: absolute;
  margin-top: 29px;
}

.panel-list-item-actions {
  position: absolute;
  right: 0;
  top: 0;

  a.button {
    @include dark-panel-list-item-action-icon;
    font-size: 1em;
    padding: 5px 2px 1px 3px;
    display: block;
    border-radius: 0;

    &:hover {
      .add-to-project-tooltip {
        position: absolute;
        display: block;
      }
    }
  }
}

#granule-list:focus, #granule-list.has-focus {
  .panel-list-selected {
    border-left-color: #2980b9;
  }
}

.panel-list-selected {
  border-left-color: desaturate(#2980b9, 50%);
  background: #494949;

  .panel-list-when-selected {
    visibility: visible;
  }
}

.panel-list-when-selected {
  visibility: hidden;
}

.panel-list a.panel-list-remove {
  float: right;
  color: #fff;
  color: rgba(255,255,255, 0.2);
  @include transition(color 0.3s ease-in-out);

  &:hover {
    color: #e74c3c;
  }
}

.panel-list-group-title {
  font-size: .9em;
  padding: .6em .5em;
  color: #FFFFFF;
  font-weight: 500;
  border-left: 5px solid transparent;
}

.panel-list-item-header {
  height: 29px;
  background-color: #292c2d;
  padding: 5px;

  h5 {
    margin: 0;
  }
}

.panel-list-item > p {
  margin-left: $panel-list-thumbnail-size;
}

.add-to-project-tooltip {
  position: fixed;
  float: right;
  z-index: 999;
  left: 230px;
  width: 400px;
  background: #F1C40F;
  color: #000000;
  font-size: .8em;
  padding: 1em;

  h4 {
    margin: 0 0 .5em;
  }
}

.detail-flyout {
  position: fixed;
//  float: right;
  z-index: -1;
  left: 270px;
  width: 270px;
  height: 145px;
  font-size: .8em;
  background-color: rgba(0, 0, 0, .95);
  color: #fff;

  h4 {
    margin: 0 0 5px;
    font-size: 12px;
    font-weight: bold;
    white-space: normal;
    padding-left: 10px;
  }
}



.detail-flyout-content {
  padding-left: 10px;
  font-size: 10px;
}

.flyout-header {
  width: 100%;
  height: 29px;
  background-color: #292c2d;
}

.with-border {
  border-left: 5px solid rgba(20, 21, 22, .4);
}

.mini-map {
  width: 241px;
  height: $panel-list-item-height - 30px;
  background-color: #ed009d;
}
